{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}
<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
    
  </style>

  
  <!-- Custom styles for this template -->
  <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Add a post 🙂</legend>
                {{ form.as_p }}
            </fieldset>
            <button class="btn btn-outline-info" type="submit">Post</button>
        </form>
    </div>
{% endblock content %}